*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: $font-weight-regular;
  color: $color-gray-dark;
  background-color: $bg-color-light;
}

main {
  height: 100%;
}

button {
  cursor: pointer;
  outline: none;

  &:hover {
    opacity: 0.8;
  }
}

.wrapper {
  max-width: 153rem;
  // margin: 0 auto;
}

.container {
  margin: 0 1rem;
  // padding: 10rem 0 0;
  text-align: left;

  // @media only screen and (min-width: 1200px) {
  //   display: flex;
  //   margin: 0 16rem;
  //   padding: 0;
  // }
}

.logo {
  font-size: 34px;
  font-weight: 500;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  text-align: left;
  // padding-left: 24px;
}

li {
  margin-bottom: 8px;
}

h2,
h3 {
  padding-right: 6rem;
  font-size: $font-size-large;
  line-height: 36px;
  text-align: left;
}

h4 {
  color: $color-gray-dark2;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  line-height: $line-height + 6px;
}

p {
  text-align: left;
}
