@mixin project($bg-color, $rotate-degree) {
  .design-dashboard__img {
    background-color: $bg-color;
    border-radius: 12px;
    > img {
      transform: rotate($rotate-degree deg);
    }
  }

  .category {
    font-size: $font-size - 2px;
    font-weight: 300;
  }

  > h3 {
    font-size: $font-size-medium;
    font-weight: 500;
  }
}
