%contact-group {
  > p {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    line-height: $line-height-small;
  }
  .input-area {
    height: 47px;
    width: 291px;

    font-size: $font-size;
    border-radius: 12px;
    background-color: $color-gray-super-light;
    > input {
      margin: 1.5rem 3rem 0.6rem 1.9rem;
      border: none;
      background: transparent;
    }
    > button {
      margin: 0.4rem;
      color: $color-gray-super-light;
      width: 71px;
      height: 39px;
      border: none;
      border-radius: 12px;
      background-color: $color-blue;
    }
  }
}

%button {
  width: 116px;
  height: 42px;
  margin-top: 3rem;

  color: $color-gray-dark2;
  background-color: $color-gray-super-light2;
  border-radius: 12px;
  border: none;

  &:hover {
    color: #ffffff;
    background-color: $color-blue;
  }
}
