$color-green: #27ae60;
$color-red: #eb5757;
$color-blue: #2d9cdb;
$color-gray-dark: #333333;
$color-gray-dark2: #828282;
$color-gray-light: #4f4f4f;
$color-gray-super-light: #f2f2f2;
$color-gray-super-light2: #e0e0e0;

$bg-color-light: #ffffff;
$bg-color-dark: #000000;
$bg-color-blue-dark: #100e1d;

$font-size-small: 10px; //12
$font-size: 14px; //15, 16
$font-size-medium: 18px;
$font-size-large: 24px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demibold: 600;
$font-weight-bold: 700;

$line-height-small: 15px;
$line-height: 21px; //24
$line-height-large: 36px;

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;
