.header {
  position: relative;
  width: 100%;
  z-index: 800;
  background-color: $bg-color-light;

  &__nav {
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__hamburger {
    position: relative;
    .hamburger-menu {
      width: 1.8rem;
      height: 1.8rem;
      background-image: url("../images/menu-black.svg");
    }
    #hamburger-toggler {
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;

      &:checked ~ .aside {
        transform: translateX(0%);
      }
      &:checked ~ .hamburger-menu {
        background-image: url("../images/close.svg");
      }
    }
    @media only screen and (min-width: 765px) {
      display: none;
    }
  }
  &__menu {
    display: none;
    &__list {
      display: flex;
      > li {
        margin-right: 5rem;
        > a {
          font-size: $font-size-large;
          font-weight: $font-weight-medium;
          color: $color-gray-dark;
        }
      }
    }
  }

  @media only screen and (min-width: 765px) {
    &__nav {
      height: 9.5rem;
    }
    &__menu {
      display: block;
    }
  }
}
